{
  "port": "",
  "eth": {
    "enabled": true,
    "provider": "https://eth-mainnet.g.alchemy.com/v2/KEY",
    "scanKey": "etherscan_key",
    "discord": "https://discord.com/api/webhooks/KEY",
    "lookbackHarvests": true
  },
  "polygon": {
    "enabled": true,
    "provider": "https://polygon-mainnet.g.alchemy.com/v2/KEY",
    "scanKey": "etherscan_key",
    "discord": "https://discord.com/api/webhooks/KEY",
    "lookbackHarvests": true
  },
  "arbitrum": {
    "enabled": true,
    "provider": "https://arb-mainnet.g.alchemy.com/v2/KEY",
    "scanKey": "etherscan_key",
    "discord": "https://discord.com/api/webhooks/KEY",
    "lookbackHarvests": true
  },
  "base": {
    "enabled": true,
    "provider": "https://base-mainnet.g.alchemy.com/v2/KEY",
    "scanKey": "etherscan_key",
    "discord": "https://discord.com/api/webhooks/KEY",
    "lookbackHarvests": true
  },
  "zksync": {
    "enabled": true,
    "provider": "https://zksync-mainnet.g.alchemy.com/v2/KEY",
    "scanKey": "etherscan_key",
    "discord": "https://discord.com/api/webhooks/KEY",
    "lookbackHarvests": true
  },
  "hyperevm": {
    "enabled": true,
    "provider": "https://hyperliquid-mainnet.g.alchemy.com/v2/KEY",
    "scanKey": "etherscan_key",
    "discord": "https://discord.com/api/webhooks/KEY",
    "lookbackHarvests": true
  }
}
